html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:left; 
    width: 15%;
    background-color: rgb(234, 228, 233);
    padding: 100px 30px 0px;
}
.menu-logo-container img {
    width: 40px;
}
.menu-itens {
    padding-left: 10px;
}
.header {
    display: flex;
    background-color: rgb(249, 230, 186);
    min-height: 10px;
}
.header-logo-container {
    height: 100px;
    padding: 5px;
}
.header-logo-container img {
    height: 100px;
}
.header-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-grow: 1; /*the remaining space will be distributed equally among them*/
    padding: 0px;    
}
.header-description-container p {  
    padding: 0px;
    margin: 5px; /*space around element*/     
}
.content {
    background-color: rgb(238, 239, 234);
    min-height: 300px;
    padding: 10px;
}
.footer {
    text-align: center;
    background-color: rgb(162, 228, 247);
    min-height: 10px;
}
.table-exams-container, .table-specialist-container{
    display: flex;
    flex-direction: row;    
    justify-content:center;
    /*background-color: rgb(209, 114, 190);*/
}
/*
.table-exams-container div, .table-specialist-container div{    
    background-color: beige;
    border: 3px solid rgb(1, 1, 68);
}
*/
.table-specialist {    
    width: 400px;    
}
.table-exams {    
    width: 550px;   
}
.table-specialist, .table-exams {
    border: 3px solid rgb(1, 1, 68);
}
.exam-title {
    font-weight: bold;
    background-color: rgb(238, 238, 99);
    border-top: 3px solid rgb(1, 1, 68);
    border-bottom: 3px solid rgb(1, 1, 68);
}
.exam-item:nth-child(even) td, .espec-item:nth-child(even) td {
    background-color: rgb(237, 236, 210);
}
.table-specialist thead tr, .table-exams thead tr {
    background-color: rgb(1, 1, 68);
    color: rgb(228, 236, 251);    
    align-items: center;    
}
 .espec-item:nth-child(n):hover td, .exam-item:nth-child(n):hover td {
    background-color:rgb(158, 255, 174);
    cursor: pointer;
}
/*Select columns 2 to 4 to apply styles*/
.table-specialist tbody tr td:nth-child(n+2):nth-child(-n+4), .table-exams tbody tr td:nth-child(n+2):nth-child(-n+4) {
    text-align: center;
}
.table-specialist tfoot tr td, .table-exams tfoot tr td {
    background-color:rgb(221, 246, 255);
    color: rgb(6, 30, 30);
    border-top: 3px solid rgb(1, 1, 68);
    align-items: center;
}